/* ==========================================================================
   Ctas
   ========================================================================== */
.Ctas {
  &-inner {
    display: grid;
    gap: $ds-spacings--medium;

    @include breakpoint('mobile-wide') {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
